.button {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}
.button--primary {
  color: white;
  background-color: #1ea7fd;
}
.button--secondary {
  color: #333;
  background-color: transparent;
  border-color: #1ea7fd;
  border: 1px solid;
}
.button--tooltip {
  color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
.button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.button--large {
  font-size: 16px;
  padding: 12px 24px;
}
.button--xlarge {
  font-size: 14px;
  padding: 11px 20px;
  min-width: 250px;
  height: 40px;
  text-align: center;
}
.border-without-bgColor {
  background: transparent;
  border: 2px solid #333;
}
.borderLess {
  border: none;
}
.button img {
  width: 18px;
  height: 18px;
  margin: -4px 8px;
  margin-left: 0px;
}
