.input-text {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  border-radius: 14px;
  cursor: pointer;
  border: none;
  outline: none;
  box-shadow: 0px 4px 16px rgba(188, 188, 188, 0.5);
}
.input-text--small {
  font-size: 12px;
  padding: 10px 16px;
}
.input-text--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.input-text--large {
  font-size: 16px;
  padding: 12px 24px;
}
.input-text--xlarge {
  font-size: 14px;
  padding: 11px 20px;
  min-width: 247px;
  height: 36px;
  text-align: left;
}
